<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!-- URL is url where the shotclock data can betreived from-->
    <add key="URL" value ="http://<Fill in IP of shotclock>/shotclock/time"/>
    
    <!-- refreshTime is amount of milliseconds between refreshes of the value-->
    <add key="refreshTime" value ="50"/>

    <!-- attentionTime is time in seconds on which the drawing color of the time is changed-->
    <add key="attentionTime" value="5"/>
    
  </appSettings>
</configuration>