<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!-- URL is url where the Scoreboard data can betreived from-->
    <add key="ScoreboardURL" value ="http://192.168.2.114/scoreboard/test/score"/>

    <!-- URL is url where the Timeclock data can betreived from-->
    <add key="TimeclockURL" value ="http://192.168.2.114/timeclock/test/time"/>

    <!-- URL is url where the shotclock data can betreived from-->
    <add key="ShotclockURL" value ="http://192.168.2.114/shotclock/test/time"/>
    
    <!-- attentionTime is time in seconds on which the drawing color of the time is changed-->
    <add key="attentionTime" value="5"/>

    <!-- refreshTime is amount of milliseconds between refreshes of the value-->
    <add key="refreshTime" value ="50"/>

    
  </appSettings>
</configuration>