<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!-- URL is url where the Scoreboard data can betreived from-->
    <add key="ScoreboardURL" value ="http://<IP of scoreboard>/scoreboard/score"/>

    <!-- URL is url where the Timeclock data can betreived from-->
    <add key="TimeclockURL" value ="http://<IP of timeclock>/timeclock/time"/>

    <!-- refreshTime is amount of milliseconds between refreshes of the value-->
    <add key="refreshTime" value ="50"/>
    
  </appSettings>
</configuration>