<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    
    <!-- 
    Fill in the IP of the PI device at xxxx. use value="" when you do nou use a PI to get certian data
    E.g. <add key="ScoreboardURL" value ="http://10.12.0.60/scoreboard/score"/> when your scoreboard PI is at IP 10.12.0.60
    E.g. <add key="ScoreboardURL" value =""/> when you do not have a PI attached to the scoreboard
    -->
    
    <!-- URL is url where the Scoreboard data can betreived from-->
    <add key="ScoreboardURL" value ="http://xxxx/scoreboard/score"/>

    <!-- URL is url where the Timeclock data can betreived from-->
    <add key="TimeclockURL" value ="http://xxxx/timeclock/time"/>

    <!-- URL is url where the shotclock data can betreived from-->
    <add key="ShotclockURL" value ="http://xxxx/shotclock/time"/>
    
    <!-- attentionTime is time in seconds on which the drawing color of the time is changed-->
    <add key="attentionTime" value="5"/>

    <!-- refreshTime is amount of milliseconds between refreshes of the value-->
    <add key="refreshTime" value ="50"/>
    
    <!-- 
    backgroundImageFile points to the file containing the image that is loaded as background for the XAML.
    When empty the default is loaded from the images folder located at the place of installation
    -->
    <add key="backgroundImageFile" value=""/>

    <!-- 
    zeroSubstitutionImageFile points to the file containing the image that is used to show that no substitutions were done yet.
    When empty the default is loaded from the images folder located at the place of installation
    -->
    <add key="zeroSubstitutionImageFile" value=""/>

  </appSettings>
</configuration>